<h1 class="display-4 mt-4">Nuestros Mates</h1>

<div class="container text center">
  <p class="text-center fs-3 lh-base">
    "Descubre en nuestra tienda una variedad encantadora de mates, desde los clásicos de calabaza hasta los modernos de acero inoxidable. Nuestro amable equipo está listo para ayudarte a encontrar el mate perfecto, junto con los accesorios ideales para complementarlo. Ven y encuentra tu compañero de mate ideal hoy mismo."
  </p>
</div>


<div class="container-fluid text-center mt-4">
  <div class="container">
    <div class="row mt-3">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Camionero</h2>
        <img src="assets/camionero.jpg" alt="" class="img-fluid" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Torpedo</h2>
        <img src="assets/torpedo.jpg" alt="" class="img-fluid"/>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h2>Imperial</h2>
        <img src="assets/imperial.webp" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div>


