.contenedores{
    /* border: 2px solid #000; */
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 0px 222px 20px 0px;
}

.links{
    font-size: 45px;
    text-decoration: none;
    font-family: Futura;
    color: #b6c4ec;
}

.capital{
    font-size: 100px;
    color: #ba8a9b;
    font-weight: bold;
    font-family: Futura;
    font-style: italic;
    border-bottom: 5px solid #ba8a9b;
}

.palabra{
    font-weight: 900;
    font-size: 30px;
    color: #b6c4ec;

    /* color: white; */
}

.background{
    background-size: cover;
    /* background-image: url(background.jpg); */
}

.titulo{
    color: #fff;

    font-weight: 900;
}

a{
    font-weight: 900;
}

a:hover{
    border-bottom: 5px solid #b6c4ec;
} 

.def {
    color: #b6c4ec;
}