<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets\mate-icon.png" alt="Logo" width="70" height="70" class="d-inline-block align-text-center">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Nuestros Mates</a>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Otros Productos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Bombillas</a>
            <a class="dropdown-item" href="#">Termos</a>
            <a class="dropdown-item" href="#">Yerbas</a>
          </div>
        </li> -->
        <a class="nav-link" href="#">Bombillas</a>
        <a class="nav-link" href="#">Termos</a>
        <a class="nav-link" href="#">Yerbas</a>
        <a class="nav-link" href="#">Contáctanos</a>
        <span class="navbar-text ms-auto">
          Navbar text with an inline element
        </span>
      </div>
    </div>
  </div>
</nav>
