<div class="container">
    
    <h1>Nuestras Yerbas</h1>

    <p>
    Bienvenido a un viaje fascinante a través de la tradición y la cultura de la
    yerba mate. Originaria de Sudamérica, esta infusión única ha conquistado
    corazones en todo el mundo gracias a su sabor robusto y propiedades
    revitalizantes. La yerba mate no es solo una bebida; es un símbolo de
    encuentros compartidos, de amistad y de momentos de tranquilidad. Su historia
    se teje entre las tradiciones de las culturas guaraníes y la hospitalidad de
    los gauchos en las vastas llanuras de Argentina, Uruguay y Paraguay. Explora
    con nosotros el arte de preparar mate, con su ritual característico que une a
    las personas alrededor de una bombilla. Desde sus propiedades energizantes
    hasta sus beneficios para la salud, te invitamos a sumergirte en el mundo
    apasionante de la yerba mate. Descubre las distintas variedades, los métodos
    de preparación y déjate envolver por la calidez y el sabor inconfundible de la
    yerba mate. ¡Bienvenido a una experiencia que va más allá de una simple
    bebida; es un vínculo con la naturaleza y la camaradería!
    </p>

</div>
